:root {
  /* Brand colors */
  --color-primary: #36080c;
  /* Feedback colors */
  --color-error: #b42318;
  /* Neutral colors */
  --color-dark: #2f2f2f;
  --color-gray: #8c8c8c;
  --color-medium_gray: #898989;
  --color-light_gray: #d3d3d3;
  --color-black: #0d0d0d;
  --color-white: #ffffff;
  --color-cream: #ffffed;
  --color-background: #f7f7f7;

  /* Border radius */
  --radius-small: 6px;
  --radius-medium: 10px;
  --radius-large: 16px;

  /* Transitions */
  --transition-fast: 150ms ease;
  --transition-normal: 250ms ease;
}
